In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('../Data_with_NumMosquitos/aggregated_train_NumMosquito_no_strings.csv')
test = pd.read_csv('../Data_with_NumMosquitos/aggregated_test_NumMosquito_no_strings.csv')

In [3]:
support = pd.read_csv('../test.csv')

In [4]:
pd.pivot_table(train, values= 'WnvPresent',index=['Species'])

Species
0          0.000000
1          0.088922
2          0.055135
3          0.017883
4          0.000000
5          0.000000
6          0.000000
Name: WnvPresent, dtype: float64

In [5]:


bla = test[support.Species == 'CULEX ERRATICUS']
len(bla),len(test)

(14345, 116293)

In [6]:
bla = bla.append(test[support.Species == 'CULEX SALINARIUS'])
len(bla)

28700

In [7]:
bla = bla.append(test[support.Species == 'CULEX TARSALIS'])
len(bla)

43047

In [8]:
bla = bla.append(test[support.Species == 'CULEX TERRITANS'])
len(bla)

57398

In [9]:
support.groupby('Species').count()

,Id,Date,Address,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
Species,,,,,,,,,,
CULEX ERRATICUS,14345,14345,14345,14345,14345,14345,14345,14345,14345,14345
CULEX PIPIENS,14521,14521,14521,14521,14521,14521,14521,14521,14521,14521
CULEX PIPIENS/RESTUANS,15359,15359,15359,15359,15359,15359,15359,15359,15359,15359
CULEX RESTUANS,14670,14670,14670,14670,14670,14670,14670,14670,14670,14670
CULEX SALINARIUS,14355,14355,14355,14355,14355,14355,14355,14355,14355,14355
CULEX TARSALIS,14347,14347,14347,14347,14347,14347,14347,14347,14347,14347
CULEX TERRITANS,14351,14351,14351,14351,14351,14351,14351,14351,14351,14351
UNSPECIFIED CULEX,14345,14345,14345,14345,14345,14345,14345,14345,14345,14345

In [10]:
bla['WnvPresent'] = 0

In [11]:
inlength = len(test)

In [12]:
bla.index += inlength
bla.index

Int64Index([116300, 116308, 116316, 116324, 116332, 116340, 116348, 116356, 116364, 116372, 116380, 116388, 116396, 116404, 116412, 116420, 116428, 116436, 116444, 116452, 116460, 116468, 116476, 116484, 116492, 116500, 116508, 116516, 116524, 116532, 116540, 116548, 116556, 116564, 116572, 116580, 116588, 116596, 116604, 116612, 116620, 116628, 116636, 116644, 116652, 116660, 116668, 116676, 116684, 116692, 116700, 116708, 116716, 116724, 116732, 116740, 116748, 116756, 116764, 116772, 116780, 116788, 116796, 116804, 116812, 116820, 116828, 116836, 116844, 116852, 116860, 116868, 116876, 116884, 116892, 116900, 116908, 116916, 116924, 116932, 116940, 116948, 116956, 116964, 116972, 116980, 116988, 116996, 117004, 117012, 117020, 117028, 117036, 117044, 117052, 117060, 117068, 117076, 117084, 117092, ...], dtype='int64')

In [13]:
a = train.columns

In [14]:
b = bla.columns

In [15]:
[var for var in a if not var in b]

[]

In [16]:
[var for var in b if not var in a]

[]

In [17]:
train.shape

(10506, 85)

In [18]:
bla.shape

(57398, 85)

In [19]:
train2 = train.append(bla)

In [20]:
train2.shape

(67904, 85)

In [21]:
train2.to_csv('train_with_additional_values_only_use_for_non_time_series_analysis.csv',index_label = 'Id')

In [22]:
pd.pivot_table(test, values = 'NumMosquitos',index=['Species'])

Species
0          11.603772
1          11.639856
2          12.009092
3          10.767124
4          10.737047
5          11.265539
6          11.906496
Name: NumMosquitos, dtype: float64