In [60]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn import cross_validation, preprocessing, metrics

In [61]:
df_train = pd.read_csv('aggregated_train_with_nummosquitos.csv')
#df_test = pd.read_csv('../test_filled_new.csv')
#orig = pd.read_csv('../test_filled_new.csv')
df_test = pd.read_csv('../test_filled_new.csv')

In [62]:
df_train.columns,df_test.columns

(Index(['Unnamed: 0', 'Date', 'Address', 'Species', 'Block', 'Street', 'Trap', 'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy', 'NumMosquitos', 'WnvPresent', 'Station', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint', 'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'CodeSum', 'Depth', 'SnowFall', 'PrecipTotal', 'StnPressure', 'SeaLevel', 'ResultSpeed', 'ResultDir', 'AvgSpeed', 'Year', 'Month', 'Tavg_week', 'precip_week', 'heat_dw', 'cool_dw', '1_week_avrgPrecipTotal', '1_week_avrgTavg', '2_week_avrgPrecipTotal', '2_week_avrgTavg', '3_week_avrgPrecipTotal', '3_week_avrgTavg', '4_week_avrgPrecipTotal', '4_week_avrgTavg', '5_week_avrgPrecipTotal', '5_week_avrgTavg', '6_week_avrgPrecipTotal', '6_week_avrgTavg', '7_week_avrgPrecipTotal', '7_week_avrgTavg', '8_week_avrgPrecipTotal', '8_week_avrgTavg', '9_week_avrgPrecipTotal', '9_week_avrgTavg', '10_week_avrgPrecipTotal', '10_week_avrgTavg', '11_week_avrgPrecipTotal', '11_week_avrgTavg', '12_week_avrgPrecipTotal', '12_week_avrgTavg', '13_week_avrgPrecipTotal', '13_week_avrgTavg', '14_week_avrgPrecipTotal', '14_week_avrgTavg', '15_week_avrgPrecipTotal', '15_week_avrgTavg', '16_week_avrgPrecipTotal', '16_week_avrgTavg', '17_week_avrgPrecipTotal', '17_week_avrgTavg', '18_week_avrgPrecipTotal', '18_week_avrgTavg', '19_week_avrgPrecipTotal', '19_week_avrgTavg', '20_week_avrgPrecipTotal', '20_week_avrgTavg', '21_week_avrgPrecipTotal', '21_week_avrgTavg', '22_week_avrgPrecipTotal', '22_week_avrgTavg', '23_week_avrgPrecipTotal', '23_week_avrgTavg'], dtype='object'),
 Index(['Id', 'Date', 'Address', 'Species', 'Block', 'Street', 'Trap', 'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy', 'Station', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint', 'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'CodeSum', 'Depth', 'SnowFall', 'PrecipTotal', 'StnPressure', 'SeaLevel', 'ResultSpeed', 'ResultDir', 'AvgSpeed', 'Year', 'Month', 'Tavg_week', 'precip_week', 'heat_dw', 'cool_dw', '1_week_avrgPrecipTotal', '1_week_avrgTavg', '2_week_avrgPrecipTotal', '2_week_avrgTavg', '3_week_avrgPrecipTotal', '3_week_avrgTavg', '4_week_avrgPrecipTotal', '4_week_avrgTavg', '5_week_avrgPrecipTotal', '5_week_avrgTavg', '6_week_avrgPrecipTotal', '6_week_avrgTavg', '7_week_avrgPrecipTotal', '7_week_avrgTavg', '8_week_avrgPrecipTotal', '8_week_avrgTavg', '9_week_avrgPrecipTotal', '9_week_avrgTavg', '10_week_avrgPrecipTotal', '10_week_avrgTavg', '11_week_avrgPrecipTotal', '11_week_avrgTavg', '12_week_avrgPrecipTotal', '12_week_avrgTavg', '13_week_avrgPrecipTotal', '13_week_avrgTavg', '14_week_avrgPrecipTotal', '14_week_avrgTavg', '15_week_avrgPrecipTotal', '15_week_avrgTavg', '16_week_avrgPrecipTotal', '16_week_avrgTavg', '17_week_avrgPrecipTotal', '17_week_avrgTavg', '18_week_avrgPrecipTotal', '18_week_avrgTavg', '19_week_avrgPrecipTotal', '19_week_avrgTavg', '20_week_avrgPrecipTotal', '20_week_avrgTavg', '21_week_avrgPrecipTotal', '21_week_avrgTavg', '22_week_avrgPrecipTotal', '22_week_avrgTavg', '23_week_avrgPrecipTotal', '23_week_avrgTavg'], dtype='object'))

In [63]:
[var for var in df_train.columns if var not in df_test.columns]

['Unnamed: 0', 'NumMosquitos', 'WnvPresent']

In [64]:
X = df_train
X.dtypes

Unnamed: 0                  int64
Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
NumMosquitos                int64
WnvPresent                  int64
Station                     int64
Tmax                        int64
...
16_week_avrgTavg           float64
17_week_avrgPrecipTotal    float64
17_week_avrgTavg           float64
18_week_avrgPrecipTotal    float64
18_week_avrgTavg           float64
19_week_avrgPrecipTotal    float64
19_week_avrgTavg           float64
20_week_avrgPrecipTotal    float64
20_week_avrgTavg           float64
21_week_avrgPrecipTotal    float64
21_week_avrgTavg           float64
22_week_avrgPrecipTotal    float64
22_week_avrgTavg           float64
23_week_avrgPrecipTotal    float64
23_week_avrgTavg           float64
Length: 85, dtype: object

In [65]:
[var for var in df_test.columns if var not in X.columns]

['Id']

In [66]:
string_features = ['Date','Address','Street','AddressNumberAndStreet','CodeSum']
species_encoder = preprocessing.LabelEncoder()
trap_encoder = preprocessing.LabelEncoder()
#X_dump = X[string_features]
df_dump = df_test[string_features]

X.Species = species_encoder.fit_transform(X.Species)
y = df_train['NumMosquitos']
df_test.Species = species_encoder.fit_transform(df_test.Species)
X.Trap = trap_encoder.fit_transform(X.Trap)
df_test.Trap = trap_encoder.fit_transform(df_test.Trap)

try:
 X = X.drop(string_features,axis=1)
except:
    pass
try:
 df_test = df_test.drop(string_features,axis=1)
except:
    pass
try:
 df_test = df_test.drop('Id',axis=1)
except: 
    pass
#X.head()
try:
    X = X.drop(['Unnamed: 0', 'NumMosquitos', 'WnvPresent'],axis=1)
except:
        pass

In [67]:
df_dump.head()

,Date,Address,Street,AddressNumberAndStreet,CodeSum
0,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",N OAK PARK AVE,"4100 N OAK PARK AVE, Chicago, IL",
1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",N OAK PARK AVE,"4100 N OAK PARK AVE, Chicago, IL",
2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",N OAK PARK AVE,"4100 N OAK PARK AVE, Chicago, IL",
3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",N OAK PARK AVE,"4100 N OAK PARK AVE, Chicago, IL",
4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",N OAK PARK AVE,"4100 N OAK PARK AVE, Chicago, IL",

In [68]:
X.dtypes[:20],df_test.dtypes[:20]

(Species              int64
 Block                int64
 Trap                 int64
 Latitude           float64
 Longitude          float64
 AddressAccuracy      int64
 Station              int64
 Tmax                 int64
 Tmin                 int64
 Tavg               float64
 Depart             float64
 DewPoint             int64
 WetBulb            float64
 Heat                 int64
 Cool                 int64
 Sunrise            float64
 Sunset             float64
 Depth              float64
 SnowFall           float64
 PrecipTotal        float64
 dtype: object, Species              int64
 Block                int64
 Trap                 int64
 Latitude           float64
 Longitude          float64
 AddressAccuracy      int64
 Station              int64
 Tmax                 int64
 Tmin                 int64
 Tavg               float64
 Depart             float64
 DewPoint             int64
 WetBulb            float64
 Heat                 int64
 Cool                 int64
 Sunrise            float64
 Sunset             float64
 Depth              float64
 SnowFall           float64
 PrecipTotal        float64
 dtype: object)

In [69]:
[var for var in X.columns if var not in df_test.columns]

[]

In [70]:
[var for var in df_test.columns if var not in X.columns]

[]

In [71]:
clf = RandomForestRegressor(n_estimators=1000,n_jobs=-1)

In [72]:
#X = X[:20]
#y = y[:20]

In [73]:
from sklearn import gaussian_process
#clf = gaussian_process.GaussianProcess()

In [74]:
clf.fit(X,y)

RandomForestRegressor(bootstrap=True, compute_importances=None,
           criterion='mse', max_depth=None, max_features='auto',
           max_leaf_nodes=None, min_density=None, min_samples_leaf=1,
           min_samples_split=2, n_estimators=1000, n_jobs=-1,
           oob_score=False, random_state=None, verbose=0)

In [75]:
yhat = clf.predict(df_test)

In [76]:
y.mean(),yhat.mean()

(12.853512278697886, 11.521319053013711)

In [77]:
clf.score(df_test,yhat)

1.0

In [78]:
df_test['NumMosquitos'] = yhat

In [79]:
len(df_test)

116293

In [80]:
df_test = pd.concat([df_test,df_dump],axis=1)

In [81]:
df_test.to_csv('aggregated_test_NumMosquito_no_strings.csv',index_label = 'Id')

In [82]:
df_test.head()

,Species,Block,Trap,Latitude,Longitude,AddressAccuracy,Station,Tmax,Tmin,Tavg,...,22_week_avrgPrecipTotal,22_week_avrgTavg,23_week_avrgPrecipTotal,23_week_avrgTavg,NumMosquitos,Date,Address,Street,AddressNumberAndStreet,CodeSum
0,2,41,1,41.95469,-87.800991,9,1,86,61,74,...,0.161548,59.809524,0.161548,59.809524,24.822950,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",N OAK PARK AVE,"4100 N OAK PARK AVE, Chicago, IL",
1,3,41,1,41.95469,-87.800991,9,1,86,61,74,...,0.161548,59.809524,0.161548,59.809524,17.110891,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",N OAK PARK AVE,"4100 N OAK PARK AVE, Chicago, IL",
2,1,41,1,41.95469,-87.800991,9,1,86,61,74,...,0.161548,59.809524,0.161548,59.809524,11.984135,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",N OAK PARK AVE,"4100 N OAK PARK AVE, Chicago, IL",
3,4,41,1,41.95469,-87.800991,9,1,86,61,74,...,0.161548,59.809524,0.161548,59.809524,17.458104,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",N OAK PARK AVE,"4100 N OAK PARK AVE, Chicago, IL",
4,6,41,1,41.95469,-87.800991,9,1,86,61,74,...,0.161548,59.809524,0.161548,59.809524,17.051604,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",N OAK PARK AVE,"4100 N OAK PARK AVE, Chicago, IL",