In [6]:
import pandas as pd

In [9]:
df_test = pd.read_csv("aggregated_test_with_predicted_mosquitonum")
df_train = pd.read_csv("aggregated_train_with_nummosquitos.csv")

In [11]:
df_train.columns,df_test.columns

(Index(['Unnamed: 0', 'Species', 'Block', 'Street', 'Trap', 'Latitude', 'Longitude', 'AddressAccuracy', 'month', 'day', 'Lat_int', 'Long_int', 'Tmax_x', 'Tmin_x', 'Tavg_x', 'Depart_x', 'DewPoint_x', 'WetBulb_x', 'Heat_x', 'Cool_x', 'Sunrise_x', 'Sunset_x', 'Depth_x', 'SnowFall_x', 'PrecipTotal_x', 'StnPressure_x', 'SeaLevel_x', 'ResultSpeed_x', 'ResultDir_x', 'AvgSpeed_x', 'Tmax_y', 'Tmin_y', 'Tavg_y', 'DewPoint_y', 'WetBulb_y', 'Heat_y', 'Cool_y', 'PrecipTotal_y', 'StnPressure_y', 'SeaLevel_y', 'ResultSpeed_y', 'ResultDir_y', 'AvgSpeed_y', 'WnvPresent', 'NumMosquitos'], dtype='object'),
 Index(['Unnamed: 0', 'Species', 'Block', 'Street', 'Trap', 'Latitude', 'Longitude', 'AddressAccuracy', 'month', 'day', 'Lat_int', 'Long_int', 'Tmax_x', 'Tmin_x', 'Tavg_x', 'Depart_x', 'DewPoint_x', 'WetBulb_x', 'Heat_x', 'Cool_x', 'Sunrise_x', 'Sunset_x', 'Depth_x', 'SnowFall_x', 'PrecipTotal_x', 'StnPressure_x', 'SeaLevel_x', 'ResultSpeed_x', 'ResultDir_x', 'AvgSpeed_x', 'Tmax_y', 'Tmin_y', 'Tavg_y', 'DewPoint_y', 'WetBulb_y', 'Heat_y', 'Cool_y', 'PrecipTotal_y', 'StnPressure_y', 'SeaLevel_y', 'ResultSpeed_y', 'ResultDir_y', 'AvgSpeed_y', 'NumMosquitos'], dtype='object'))

In [15]:
print(df.shape)
df_X = df_train.copy()
df_y = df_train['WnvPresent']

(116293, 44)

In [16]:

try:
    del df_X['WnvPresent']
except:
    print('also already deleted')
try:
    del df_X['Unnamed: 0']
except:
    print('Wat')

In [24]:
df_X.head()

,Species,Block,Street,Trap,Latitude,Longitude,AddressAccuracy,month,day,Lat_int,...,WetBulb_y,Heat_y,Cool_y,PrecipTotal_y,StnPressure_y,SeaLevel_y,ResultSpeed_y,ResultDir_y,AvgSpeed_y,NumMosquitos
0,2,41,36,1,41.954690,-87.800991,9,5,29,41,...,66,0,12,0,29.44,30.09,5.8,16,7.4,1
1,3,41,36,1,41.954690,-87.800991,9,5,29,41,...,66,0,12,0,29.44,30.09,5.8,16,7.4,1
2,3,62,30,8,41.994991,-87.769279,9,5,29,41,...,66,0,12,0,29.44,30.09,5.8,16,7.4,1
3,2,79,120,15,41.974089,-87.824812,8,5,29,41,...,66,0,12,0,29.44,30.09,5.8,16,7.4,1
4,3,79,120,15,41.974089,-87.824812,8,5,29,41,...,66,0,12,0,29.44,30.09,5.8,16,7.4,4

In [19]:
df_y.name = 'label'
df_y.name

'label'

In [21]:
hdf = pd.HDFStore('storage.h5')

In [22]:
for label in  df_X.columns:
    print(label)
    df_tmp = df_X[label]
    df_tmp.to_hdf('storage.h5','data')

Species
Block
Street
Trap
Latitude
Longitude
AddressAccuracy
month
day
Lat_int
Long_int
Tmax_x
Tmin_x
Tavg_x
Depart_x
DewPoint_x
WetBulb_x
Heat_x
Cool_x
Sunrise_x
Sunset_x
Depth_x
SnowFall_x
PrecipTotal_x
StnPressure_x
SeaLevel_x
ResultSpeed_x
ResultDir_x
AvgSpeed_x
Tmax_y
Tmin_y
Tavg_y
DewPoint_y
WetBulb_y
Heat_y
Cool_y
PrecipTotal_y
StnPressure_y
SeaLevel_y
ResultSpeed_y
ResultDir_y
AvgSpeed_y
NumMosquitos

In [25]:
df_y.to_hdf('storage.h5','label')