In [1]:
import pandas as pd

In [37]:
train = pd.read_csv('../Data_with_NumMosquitos/aggregated_train_NumMosquito_no_strings.csv')
test = pd.read_csv('../Data_with_NumMosquitos/aggregated_test_NumMosquito_no_strings.csv')

In [29]:
support = pd.read_csv('../test.csv')

In [38]:
pd.pivot_table(train, values= 'WnvPresent',index=['Species'])

Species
0          0.000000
1          0.088922
2          0.055135
3          0.017883
4          0.000000
5          0.000000
6          0.000000
Name: WnvPresent, dtype: float64

In [55]:


bla = test[support.Species == 'CULEX ERRATICUS']
len(bla),len(test)

(14345, 116293)

In [56]:
bla = bla.append(test[support.Species == 'CULEX SALINARIUS'])
len(bla)

28700

In [57]:
bla = bla.append(test[support.Species == 'CULEX TARSALIS'])
len(bla)

43047

In [59]:
bla = bla.append(test[support.Species == 'CULEX TERRITANS'])
len(bla)

57398

In [47]:
support.groupby('Species').count()

,Id,Date,Address,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
Species,,,,,,,,,,
CULEX ERRATICUS,14345,14345,14345,14345,14345,14345,14345,14345,14345,14345
CULEX PIPIENS,14521,14521,14521,14521,14521,14521,14521,14521,14521,14521
CULEX PIPIENS/RESTUANS,15359,15359,15359,15359,15359,15359,15359,15359,15359,15359
CULEX RESTUANS,14670,14670,14670,14670,14670,14670,14670,14670,14670,14670
CULEX SALINARIUS,14355,14355,14355,14355,14355,14355,14355,14355,14355,14355
CULEX TARSALIS,14347,14347,14347,14347,14347,14347,14347,14347,14347,14347
CULEX TERRITANS,14351,14351,14351,14351,14351,14351,14351,14351,14351,14351
UNSPECIFIED CULEX,14345,14345,14345,14345,14345,14345,14345,14345,14345,14345

In [60]:
bla['WnvPresent'] = 0

In [61]:
inlength = len(test)

In [64]:
bla.index += inlength
bla.index

Int64Index([232593, 232601, 232609, 232617, 232625, 232633, 232641, 232649, 232657, 232665, 232673, 232681, 232689, 232697, 232705, 232713, 232721, 232729, 232737, 232745, 232753, 232761, 232769, 232777, 232785, 232793, 232801, 232809, 232817, 232825, 232833, 232841, 232849, 232857, 232865, 232873, 232881, 232889, 232897, 232905, 232913, 232921, 232929, 232937, 232945, 232953, 232961, 232969, 232977, 232985, 232993, 233001, 233009, 233017, 233025, 233033, 233041, 233049, 233057, 233065, 233073, 233081, 233089, 233097, 233105, 233113, 233121, 233129, 233137, 233145, 233153, 233161, 233169, 233177, 233185, 233193, 233201, 233209, 233217, 233225, 233233, 233241, 233249, 233257, 233265, 233273, 233281, 233289, 233297, 233305, 233313, 233321, 233329, 233337, 233345, 233353, 233361, 233369, 233377, 233385, ...], dtype='int64')

In [72]:
a = train.columns

In [73]:
b = bla.columns

In [74]:
[var for var in a if not var in b]

[]

In [75]:
[var for var in b if not var in a]

[]

In [80]:
train.shape

(10506, 85)

In [81]:
bla.shape

(57398, 85)

In [83]:
train2 = train.append(bla)

In [84]:
train2.shape

(125302, 85)

In [85]:
train2.to_csv('train_with_additional_values_only_use_for_non_time_series_analysis.csv')

In [34]:
pd.pivot_table(test, values = 'NumMosquitos',index=['Species'])

Species
0          11.604328
1          11.644290
2          12.123942
3          10.838968
4          10.768284
5          11.319080
6          11.921946
7          11.921454
Name: NumMosquitos, dtype: float64